@import "../../App.scss";

.container {
  height: 7.5vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;

  background-color: $dark-black;

  .brand {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: $accent-color;
  }

  p {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid $accent-color;
    color: #fff;
    font-size: 1rem;
  }

  .navlink {
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    color: #fff;
    border: none;
    background: none;
    font-size: 1rem;

    transition: 0.25s all ease;
    cursor: pointer;

    &:hover {
      color: $accent-color;
    }
  }

  .username {
    color: $accent-color;
    font-size: 1rem;
  }
}

@media screen and (min-width: 760px) {
  .container {
    .brand {
      font-size: 3rem;
    }
  }
}
