.container {
  height: 10%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  .brand {
    color: orange;
  }

  .navlink {
    color: green;
  }
}
