/* Global Variables
======================================*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
$font-stack: "Roboto", Arial, Helvetica, sans-serif;
$light-grey: #f2f2f2;
$dark-grey: #c9cacc;
$light-black: #222222;
$dark-black: #171717;
$accent-color: #45a51d;

/* CSS Reset
======================================*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

/* General
======================================*/
// body,
// html {
//   height: 100%;
// }

// :global {
//   #root {
//     height: 100%;

//     .App {
//       height: inherit;
//     }
//   }
// }

main {
  background-color: $light-grey;
}
