/* Global Variables
======================================*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
$font-stack: "Roboto", Arial, Helvetica, sans-serif;
$light-grey: #f7f7f7;
$dark-grey: #cccccc;
$light-black: #333;
$dark-black: #222222;
$accent-color: #00a6a4;

/* CSS Reset & Global Styles
======================================*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  line-height: 1.4;
}

a {
  color: $dark-black;
  text-decoration: none;
}

input:not([button]) {
  background-color: inherit;
  border: none;
  border-bottom: solid 2px $accent-color;
}

input[type="submit"],
button {
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  min-width: 100px;
  background-color: $accent-color;
  color: #fff;
  font-variant: small-caps;
  letter-spacing: 1px;

  cursor: pointer;
  transition: 0.5s all ease;

  &:hover {
    background-color: #007f7d;
  }
}

/* General
======================================*/
